<section
    class="u-clearfix u-container-align-center u-image u-image-tiles u-shading u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-section-1"
    id="carousel_5daf" data-image-width="1200" data-image-height="800">

    <div class="search-container" >
        <input type="text" class="search-input" placeholder="Digite sua busca" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"><br>
        <button class="search-button" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Buscar</button>
    </div>

    <div class="div00">

    </div>
</section>