<section style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"
    class=" u-clearfix u-container-align-center u-image u-image-tiles u-shading u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-section-1"
    id="carousel_5daf" data-image-width="1200" data-image-height="800">

    <div class="title_main" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
        <h1>Hamburger</h1>
    </div>

    <div class="gallery">
        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/hamburger/01.jpg" alt="Imagem do post">
            <h3>C1</h3>
            <p>Preço: $19.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/hamburger/02.jpg" alt="Imagem do post">
            <h3>C2</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/hamburger/03.jpg" alt="Imagem do post">
            <h3>C3</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/hamburger/04.jpeg" alt="Imagem do post">
            <h3>C4</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/hamburger/05.jpg" alt="Imagem do post">
            <h3>C5</h3>
            <p>Preço: $19.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/hamburger/06.jpg" alt="Imagem do post">
            <h3>C6</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/hamburger/07.jpg" alt="Imagem do post">
            <h3>C7</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/hamburger/08.jpg" alt="Imagem do post">
            <h3>C8</h3>
            <p>Preço: $24.99</p>
        </div>

  <!-- Adicione mais posts aqui -->
</div>

</section>