<section
    class="skrollable skrollable-between u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1"
    src="" id="carousel_4dd2" data-image-width="2200" data-image-height="1258">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn"
            data-animation-duration="1500" data-animation-delay="250"> Venha conhecer o<br> Texas Pub!</h1>
        <p class="u-align-center u-large-text u-text u-text-variant u-text-2" data-animation-name="customAnimationIn"
            data-animation-duration="1500" data-animation-delay="250"> Nosso restaurante conta com um vasto vardapio
            onde você pode escolher diversas variedades para se deliciar.</p>
        <div class="u-clearfix u-expanded-width-xs u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-right u-container-align-right-lg u-container-align-right-md u-container-align-right-sm u-container-align-right-xl u-container-style u-layout-cell u-left-cell u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xl u-size-60-xs u-layout-cell-1"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="250">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <a href="/buscar"
                                class="u-active-palette-2-base u-align-right u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-white u-btn u-btn-round u-button-style u-hover-palette-2-base u-radius-50 u-text-active-white u-text-body-color u-text-hover-white u-white u-btn-1"
                                data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                data-animation-direction="">
                                Buscar item</a>
                        </div>
                    </div>
                    <div class="u-align-left u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-container-style u-layout-cell u-right-cell u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xl u-size-60-xs u-layout-cell-2"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="250">
                        <div
                            class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-2">
                            <a href="https://google.com"
                                class="u-active-palette-2-base u-align-left u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-white u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2"
                                data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                data-animation-direction="">
                                Conheça o Texas Pub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-1"
                    data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
                    <a href="/pizzas">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span
                                class="u-align-center u-file-icon u-icon u-text-white u-icon-1"><img
                                    src="/img/599995-0b8d38c7.png" alt=""></span>
                    </a>
                    <a href="/pizzas">
                        <h6 style="color: white;" class="u-align-center u-text u-text-3">Pizzas</h6>
                    </a>
                </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-2"
                data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
                <a href="/massas">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"><span
                            class="u-align-center u-file-icon u-icon u-text-white u-icon-2"><img
                                src="/img/5100074-a38caa51.png" alt=""></span>
                </a>
                <a href="/massas">
                    <h6 style="color: white;" class="u-align-center u-text u-text-4">massas</h6>
                </a>
            </div>
        </div>
        <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-3"
            data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
            <a href="/hamburgers">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5"><span
                        class="u-align-center u-file-icon u-icon u-text-white u-icon-3"><img
                            src="/img/1161695-0e600b18.png" alt=""></span>
            </a>
            <a href="/hamburgers">
                <h6 style="color: white;" class="u-align-center u-text u-text-5">Hamburgers</h6>
            </a>
        </div>
    </div>
    <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-base u-repeater-item u-shape-rectangle u-list-item-4"
        data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
        <a href="/sushi">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-6"><span
                    class="u-align-center u-file-icon u-icon u-text-white u-icon-4"><img src="/img/sushi.png"
                        alt=""></span>
        </a>
        <a href="/sushi">
            <h6 style="color: white;" class="u-align-center u-text u-text-6"> sushi</h6>
        </a>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-2" id="sec-5de3"
    data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""
    data-image-width="1980" data-image-height="949">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <h5 class="u-align-center u-custom-item u-text u-text-1" data-animation-name=""
                            data-animation-duration="0" data-animation-delay="0" data-animation-direction="">endereço
                        </h5>
                        <p class="u-align-center u-custom-item u-text u-text-2"> Avenida Rio Branco<br>n° , centro
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <h5 class="u-align-center u-custom-item u-text u-text-3" data-animation-name=""
                            data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Dias de
                            funcionamento</h5>
                        <p class="u-align-center u-custom-item u-text u-text-4">
                            <span style="font-weight: 600;"> Almoço : Ter - Dom</span>
                            11:15 – 14:45<br>
                            <span style="font-weight: 600;"> Jantar : Diáriamente</span>
                            18:00 – 00:00<br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <h5 class="u-align-center u-custom-item u-text u-text-5" data-animation-name=""
                            data-animation-duration="0" data-animation-delay="0" data-animation-direction="">telefone
                        </h5>
                        <p class="u-align-center u-custom-item u-text u-text-6">
                            <a href="https://nicepage.com/k/interactive-website-templates"
                                class="u-active-none u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-btn u-button-link u-button-style u-hover-none u-none u-text-active-black u-text-hover-black u-text-palette-2-base u-btn-1"
                                data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                data-animation-direction=""> (73) 0000-0000</a>
                            <br>
                            <br>
                            <a href="https://nicepage.me"
                                class="u-active-none u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-btn u-button-link u-button-style u-hover-none u-none u-text-active-black u-text-hover-black u-text-palette-2-base u-btn-2"
                                data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                data-animation-direction="">(73) 0000-0000</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>