<section style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"
    class=" u-clearfix u-container-align-center u-image u-image-tiles u-shading u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-section-1"
    id="carousel_5daf" data-image-width="1200" data-image-height="800">

    <div class="title_main" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
        <h1>Massas</h1>
    </div>

    <div class="gallery">
        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/massas/01.jpg" alt="Imagem do post">
            <h3>B1</h3>
            <p>Preço: $19.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/massas/02.jpg" alt="Imagem do post">
            <h3>B2</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/massas/03.jpg" alt="Imagem do post">
            <h3>B3</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/massas/04.jpg" alt="Imagem do post">
            <h3>B4</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/massas/05.jpg" alt="Imagem do post">
            <h3>B5</h3>
            <p>Preço: $19.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/massas/06.jpg" alt="Imagem do post">
            <h3>B6</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/massas/07.jpg" alt="Imagem do post">
            <h3>B7</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/massas/08.jpg" alt="Imagem do post">
            <h3>B8</h3>
            <p>Preço: $24.99</p>
        </div>

  <!-- Adicione mais posts aqui -->
</div>

</section>