<section
    class="u-clearfix u-container-align-center u-image u-image-tiles u-shading u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-section-1"
    id="carousel_5daf" data-image-width="1200" data-image-height="800">
    <div class="u-container-align-center u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1">
            <h1 class="bakc u-align-center u-text u-text-body-alt-color u-text-default u-text-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500">Pizzas</h1>
        </div>
    </div>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-white u-list-item-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-1"
                        src="/img/pizzas/45.jpg" alt="" data-image-width="700" data-image-height="560"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-5">A1</h4>
                    <p class="u-align-center u-text u-text-3">descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-4"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$40.00</p>
                </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-2"
                        src="/img/pizzas/7777.jpg" alt="" data-image-width="700" data-image-height="560"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-5">A2</h4>
                    <p class="u-align-center u-text u-text-6">descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-7"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$60.35</p>
                </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-3"
                        src="/img/pizzas/p1.jpg" alt="" data-image-width="700" data-image-height="560"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-8">A3</h4>
                    <p class="u-align-center u-text u-text-9">descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-10"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$19.95</p>
                </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-4"
                        src="/img/pizzas/09.jpg" alt="" data-image-width="996" data-image-height="881"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-11">A4</h4>
                    <p class="u-align-center u-text u-text-12">descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-13"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$40.55</p>
                </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-video-cover u-white u-list-item-5"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-5"
                        src="/img/pizzas/46.jpg" alt="" data-image-width="996" data-image-height="881"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-14">A5</h4>
                    <p class="u-align-center u-text u-text-15">descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-16"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$30.15</p>
                </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-video-cover u-white u-list-item-6"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-6"
                        src="/img/pizzas/68.jpg" alt="" data-image-width="996" data-image-height="881"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-17">A6</h4>
                    <p class="u-align-center u-text u-text-18">descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-19"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$20.25</p>
                </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-video-cover u-white u-list-item-7"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-8">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-7"
                        src="/img/pizzas/53.jpg" alt="" data-image-width="996" data-image-height="881"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-20">A7</h4>
                    <p class="u-align-center u-text u-text-21">descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-22"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$30.45</p>
                </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-video-cover u-white u-list-item-8"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-9">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-8"
                        src="/img/pizzas/22.jpg" alt="" data-image-width="996" data-image-height="881"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-23">A8</h4>
                    <p class="u-align-center u-text u-text-24"> descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-25"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$13.55</p>
                </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-radius-10 u-repeater-item u-shape-round u-video-cover u-white u-list-item-9"
                data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-10">
                    <img class="u-expanded-width u-image u-image-round u-radius-10 u-image-9"
                        src="/img/pizzas/43.jpg" alt="" data-image-width="996" data-image-height="881"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                    <h4 class="u-align-center u-custom-font u-text u-text-26">A9</h4>
                    <p class="u-align-center u-text u-text-27">descrição</p>
                    <p class="u-align-center u-text u-text-palette-2-base u-text-28"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500"> R$30.00</p>
                </div>
            </div>
        </div>
    </div>
</section>