<section style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"
    class=" u-clearfix u-container-align-center u-image u-image-tiles u-shading u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-section-1"
    id="carousel_5daf" data-image-width="1200" data-image-height="800">

    <div class="title_main" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
        <h1>Pizzas</h1>
    </div>

    <div class="gallery">
        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/pizzas/01.jpg" alt="Imagem do post">
            <h3>A1</h3>
            <p>Preço: $19.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/pizzas/02.jpg" alt="Imagem do post">
            <h3>A2</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/pizzas/03.jpg" alt="Imagem do post">
            <h3>A3</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/pizzas/04.jpg" alt="Imagem do post">
            <h3>A4</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/pizzas/05.jpg" alt="Imagem do post">
            <h3>A5</h3>
            <p>Preço: $19.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/pizzas/06.jpg" alt="Imagem do post">
            <h3>A6</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/pizzas/07.jpg" alt="Imagem do post">
            <h3>A7</h3>
            <p>Preço: $24.99</p>
        </div>

        <div class="post" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
            <img src="/img/pizzas/08.jpg" alt="Imagem do post">
            <h3>A8</h3>
            <p>Preço: $24.99</p>
        </div>

  <!-- Adicione mais posts aqui -->
</div>

</section>